name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  package:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build API Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: apps/api/Dockerfile
        push: false # Set to true if registry is configured
        tags: johnny-blog-api:latest
        
    - name: Build Web Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: apps/web/Dockerfile
        push: false # Set to true if registry is configured
        tags: johnny-blog-web:latest
